:root {
    --light-blue: #ADC5D9;
    --yellow: #F2CD5E;
    --light-yellow: #F2D377;
    --smoke-white: #F2F2F2;
    --smoke-black: #0D0D0D;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: aqua;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav img {
    width: 50px;
}

.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.main-section {
    background-color: bisque;
}

.impact-section-container {
    background-color: blue;
    width: 90%;
    height: 400px;
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
}

.impact-section-container img {
    height: 90%;
}

.impact-section {
    background-color: azure;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.impact-section h1 {
    font-size: 3em;
    padding: 10px;
}

.impact-section p {
    padding: 10px;
}

.impact-section button {
    padding: 10px;
    width: 100px;
}

.product-type {
    background-color: aquamarine;
    width: 90%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.farms-types {
    background-color: #F2CD5E;
    display: flex;
    justify-content: space-evenly;
}

.farm-type--card {
    background-color: aliceblue;
    width: 20%;
}

.farm-type--card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

footer {
    background-color: red;
}